<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <app name="MiConnectionSql"
            connectionString="Server=DESKTOP-T5BBINC;Database=PcGamersDB;TrustServerCertificate=True;Integrated Security=True;"
            provideName="Microsoft.Data.SqlClient" />
    </connectionStrings>
</configuration>